In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('advertising.csv')
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [6]:
df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [11]:
df.duplicated().sum()

0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [14]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [15]:
df.corr()

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.901208
Radio      0.054809  1.000000   0.354104  0.349631
Newspaper  0.056648  0.354104   1.000000  0.157960
Sales      0.901208  0.349631   0.157960  1.000000

In [17]:
x=df[['TV','Radio','Newspaper']]
y=df['Sales']

In [19]:
from sklearn.model_selection import train_test_split

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=10)

In [24]:
from sklearn.linear_model import LinearRegression

In [26]:
LR=LinearRegression()

In [28]:
LR.fit(x_train,y_train)

LinearRegression()

In [32]:
train_pred=LR.predict(x_train)
train_pred

array([17.03432025,  8.95001305, 23.34466295, 15.03845233, 20.84301294,
        8.06886371, 10.22499047, 11.31888836, 22.01997854,  7.89821191,
       13.76411063, 20.99290583,  6.35589723,  6.42023561, 20.75118419,
       19.82660136,  9.00267307, 21.09727124, 10.60252293, 17.01201835,
       11.1912781 , 13.24428488, 15.49927539,  9.77840483, 21.34416934,
        9.66293849, 16.63489582, 18.08181599,  8.12130589, 13.71858792,
        9.39531059, 16.72908373, 24.60853577, 17.39893916, 18.01273756,
        7.79669413, 24.82713255, 18.69175961, 12.43240338,  9.57048677,
        7.45734761, 17.76233447, 16.89274551, 16.37363044, 18.12556982,
       20.38388727, 17.75485733, 13.91558557, 13.72539362,  8.99820891,
       15.19023359,  9.88788979, 10.27584463, 13.1654216 , 16.45000028,
       17.80151511, 13.14522175,  9.67786107,  8.89094839, 17.80249721,
       11.66093467, 18.05244147, 10.10298676,  8.62785145, 18.63902323,
       19.20744489, 19.49343391, 17.11291888, 24.09589121, 16.52761691,
       11.10413236, 19.21501271, 10.93290672, 20.78083668, 20.62900183,
       10.23276678, 17.29961479, 18.78477127, 23.02995018, 21.53684349,
       14.01904921,  7.00550519, 12.43578147, 18.03287105, 16.52942155,
        8.03376144, 16.88395333, 14.66874394,  9.89697358, 23.41356152,
        9.21828509, 19.29744533, 11.76517399, 15.9197306 , 14.70421008,
       10.95396694, 18.84611065,  9.78569101, 15.76740876, 18.78191741,
        7.14874455,  7.23497396, 17.10932917, 18.37319503, 11.29689127,
       21.74621837,  9.8592359 ,  6.14474754, 11.03328238, 21.14423321,
        9.98253827,  5.4604646 , 15.79326116, 10.86232312, 11.47818974,
       12.43473514, 15.62354393, 20.12152778,  8.8245658 , 15.68060584,
       21.2747981 , 20.96926767, 12.29647877, 15.80977658, 13.38441051,
       12.14648188, 15.47089474,  6.08287799, 15.19232652, 22.54676509,
       18.78774882,  8.3468399 , 11.95867556, 12.1415342 , 21.29501157,
       14.50395232, 22.14771426, 10.60806832, 19.39333786, 23.69867547,
       14.06796451, 12.65237117,  9.38120997, 10.45379401, 15.74219301,
        9.30053558, 23.49334109, 11.73268675, 20.02661869, 18.96076358,
        9.31106905, 18.16630805, 10.73978109, 14.21228512, 17.03404292,
       24.81209917, 21.08624955, 19.22813567, 16.9946562 ,  9.60087857,
       12.23853763, 21.88840617, 19.2983199 , 17.15532082, 12.37225648,
       12.51489778, 12.55283775, 17.98073576, 21.16444941, 12.28273832,
        5.36804691,  7.14582419, 12.90108264, 14.42827675, 14.99979729,
       18.15413316, 16.32494632, 20.33369173, 10.65801087, 15.72267227])

In [35]:
test_pred=LR.predict(x_test)
test_pred

array([19.15996157, 10.45669348, 19.43886966, 24.48332989, 20.8056258 ,
       15.1686205 , 16.76762585, 20.71213004, 21.04557797, 10.58640533,
       24.82375489,  8.88243094, 10.36176898, 20.11787762, 20.55249586,
       13.36544177, 21.28017668,  8.16971764, 21.74976657, 20.52951341])

In [37]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [39]:
mean_absolute_error(y_train,train_pred)

1.1970122278378594

In [41]:
mean_squared_error(y_train,train_pred)

2.6069422895398966

In [43]:
r2_score(y_train,train_pred)

0.9005743524404604

In [45]:
mean_absolute_error(y_test,test_pred)

1.5777289778581047

In [47]:
r2_score(y_test,test_pred)

0.8941191761719591