In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [6]:
obj=TfidfVectorizer(stop_words='english')

In [3]:
doc=['The sun is bright','The sky is blue and sun is hot']

In [9]:
a=obj.fit_transform(doc)

In [8]:
obj.get_feature_names_out()

array(['blue', 'bright', 'hot', 'sky', 'sun'], dtype=object)

In [10]:
a.toarray()

array([[0.        , 0.81480247, 0.        , 0.        , 0.57973867],
       [0.53404633, 0.        , 0.53404633, 0.53404633, 0.37997836]])

In [12]:
pd.DataFrame(a.toarray(),columns=obj.get_feature_names_out(),index=[doc[0],doc[1]])

,blue,bright,hot,sky,sun
The sun is bright,0.000000,0.814802,0.000000,0.000000,0.579739
The sky is blue and sun is hot,0.534046,0.000000,0.534046,0.534046,0.379978

In [13]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [14]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [18]:
wrd='We won the match'

In [16]:
obj=SentimentIntensityAnalyzer()

In [19]:
obj.polarity_scores(wrd)

{'neg': 0.0, 'neu': 0.448, 'pos': 0.552, 'compound': 0.5719}