In [1]:
import pandas as pd
import numpy as np

In [3]:
c1=np.random.randint(1,500,50)

In [5]:
categ=['A','X','W']

In [7]:
c2=np.random.choice(categ,50)

In [18]:
np.c_[c1,c2]

array([['1', 'X'],
       ['2', 'A'],
       ['3', 'X'],
       ['4', 'W'],
       ['5', 'W'],
       ['6', 'W'],
       ['7', 'A'],
       ['8', 'X'],
       ['9', 'X'],
       ['10', 'W'],
       ['11', 'A'],
       ['12', 'A'],
       ['13', 'X'],
       ['14', 'X'],
       ['15', 'X'],
       ['16', 'A'],
       ['17', 'W'],
       ['18', 'W'],
       ['19', 'A'],
       ['20', 'W'],
       ['21', 'A'],
       ['22', 'X'],
       ['23', 'X'],
       ['24', 'W'],
       ['25', 'X'],
       ['26', 'W'],
       ['27', 'X'],
       ['28', 'X'],
       ['29', 'A'],
       ['30', 'X'],
       ['31', 'X'],
       ['32', 'A'],
       ['33', 'W'],
       ['34', 'X'],
       ['35', 'W'],
       ['36', 'A'],
       ['37', 'W'],
       ['38', 'W'],
       ['39', 'W'],
       ['40', 'A'],
       ['41', 'X'],
       ['42', 'A'],
       ['43', 'W'],
       ['44', 'A'],
       ['45', 'A'],
       ['46', 'A'],
       ['47', 'W'],
       ['48', 'A'],
       ['49', 'W'],
       ['50', 'X']], dtype='<U11')

In [9]:
df1=pd.DataFrame(np.c_[c1,c2],columns=['Val1','Val2'])

In [10]:
from sklearn.preprocessing import OneHotEncoder

In [12]:
df1.head()

  Val1 Val2
0    1    X
1    2    A
2    3    X
3    4    W
4    5    W

In [11]:
obj=OneHotEncoder()

In [16]:
arr=obj.fit_transform(df1[['Val2']])

In [17]:
arr.toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])